<div class="project_list">
{{ range .Site.Sections }}
	{{ range first 6 (.Data.Pages.ByDate.Reverse) }}
	<a href="{{.Permalink}}">
		{{ if .Params.banner }}
			{{ with .Resources.GetMatch .Params.banner }}
				{{ $processedImage := .Process "fill 500x500" }}
				{{ $webpImage := $processedImage.Resize "500x500 webp" }}
				<img 
					src="{{ $webpImage.RelPermalink }}" 
					alt="{{ $.Params.title }}" 
					class="detail-article-banner"
					loading="lazy"
				>
			{{ end }}
		{{ end }}
		
		<div class="project_list_title">
			<h4 class="glass">
				{{.Title}}
			</h4>  
		</div>
	</a>
	{{ end }}
{{ end }}
  </div>