:root {
  --black: hsla(345, 6%, 13%, 1);
  --white: hsl(0, 0%, 100%);
  --color_white:  #E0E4ED;
  --color_white:  color(display-p3 0.881 0.894 0.926);  
  --color_dust:   #F7E6B2; 
  --color_dust:   color(display-p3 1 0.912 0.609);   
  --color_desert: #F7E18A; 
  --color_desert: color(display-p3 1 0.9 0.463);   
  --color_fall:   #F2D378; 
  --color_fall:   color(display-p3 1 0.867 0.44);   
  --color_kaki:   #605736; 
  --color_kaki:   color(display-p3 0.348 0.314 0.177);   
  --color_golf:   #2F3E04; 
  --color_golf:   color(display-p3 0.264 0.349 0.01);   
  --color_green:  #486206; 
  --color_green:  color(display-p3 0.371 0.517 0.009);   
  --color_greeny: #597E0E; 
  --color_greeny: color(display-p3 0.401 0.594 0.007);   
  --color_granny: #95944A; 
  --color_granny: color(display-p3 0.637 0.631 0.127);   
  --color_gold:   #C5AC10; 
  --color_gold:   color(display-p3 1 0.851 0);   
  --color_yellow: #F5D717; 
  --color_yellow: color(display-p3 1 0.854 0);   
  --color_orange: #E85E2F; 
  --color_orange: color(display-p3 1 0.267 0);   
  --color_red:    #EC201B; 
  --color_red:    color(display-p3 1 0.078 0);   
  --color_wine:   #C4060C; 
  --color_wine:   color(display-p3 0.784 0.047 0);   
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --white: hsla(345, 6%, 13%, 1);
    --black: hsl(0, 0%, 100%);
    }
} */



/* A11Y */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #000;
  padding: 0.4em 1em;
  color: #fff;
}



html{
  font-size: 90%;
}
body{
  background-color: var(--black);
  color: var(--white);
  background: linear-gradient(109deg, var(--color_fall), var(--color_kaki), var(--color_golf), var(--color_green), var(--color_greeny), var(--color_granny), var(--color_gold), var(--color_yellow), var(--color_orange), var(--color_red), var(--color_wine));
  background-size: 1400% 1400%;
  font-family: 'avenir next', avenir, 'helvetica neue', -apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(0.9em + 0.5vw);
  font-size: clamp(0.9em,calc(0.9em + 1vw),24px);
  margin: 0;
  padding: 0;
  animation: shiftground 60s ease infinite;
}

@keyframes shiftground { 
  0%{background-position:0% 27%}
  50%{background-position:100% 74%}
  100%{background-position:0% 27%}
}

main{
  position: relative;
  z-index: 80;
  max-width: 50em;
  margin: auto;
}

@supports (display: grid) and (not (-ms-ime-align: auto)) {
	main{
	 max-width: none;	
	}
  .container{
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns:
	[full-start] minmax(1em, 1fr)
	[main-start] minmax(0, 50em) [main-end]
	minmax(1em, 1fr) [full-end];
  }
  .container>*{
	grid-column: main;
  }
  .container-main{
	grid-column: main;
  }
  .container-full{
	grid-column:full;
  }
}

#home{
  display: flex;
  min-height: 500px;
  height: -webkit-fill-available;
  width: 100vw;
  margin: 0 auto;
  flex-direction: column-reverse;
  justify-content: space-between;
  opacity: 0.8;
}  
@media (min-width: 60em) {
  #home{
    height: 95vh;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}


#logo{
  width: 40vw;
  min-width: 300px;
  max-width: 700px;
  margin: 15px;
  height: auto;
  align-self: flex-end;
}
.address{
  margin: 15px;
}
img{
  max-width: 100%;
}

a{
  color: var(--crayola);
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
}
a:hover{
  /* color: var(--apple); */
}

a.button{
  /* background-color: var(--apple);
  color: var(--white);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all 0.3s ease-in-out; */
  /* faire clignoter :-) */
}
a.button:hover{
  /* background-color: var(--apple2);
  color: var(--blue); */
}


/* Typography */
h1, h2, h3, h4, h5{
  word-wrap: break-word;
}
h1, .h1, .h-huge {
  font-size: -webkit-calc(200% + 4vw);
  font-size: clamp(1.8em,calc(2em + 4vw),100px);
  line-height: 1.1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.3em,calc(1.2em + 1vw),60px);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
.lead{
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.6em,calc(1.2em + 1vw),60px);
  line-height: 1.3em;
  font-weight: 600;
}
h3, .h3 {
  font-size: calc(0.9em + 1vw);
  font-size: -webkit-calc(90% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(80% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.56em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul, ol{
  margin-left: 1.4em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li, ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.3em;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button{
  font-size: 100%;
}

mark{
  background-color: yellow;
}


/* Utilities */
.hide-mobile{
  display: none;
}
@media (min-width: 60em) {
  .hide-mobile{
    display: block;
  }
}


